.mainContainer {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexBuffer {
    width: 100%;
    height: 100%;
    background-color: green;
}

.infoBox {
    height: 50%;
    width: 100%;
}

.fieldBox {
    height: 100%;
    width: 100%;

    background-color: brown;
    background-image: url("C:\Users\Duje\hnl-fantasy\client\public\images\field.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.playersBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}