* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fefefe;
}

.flexBuffer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexBuffer1 {
    width: 65%;
}

.flexBuffer2 {
    width: 35%;
}

.navigationBar {
    position: fixed;
    right: 100px;
    margin-top: 30px;
    top: 10px;
    width: 200px;
    background-color: #ab1420;
    border: solid 2px #000000c4;
    border-radius: 10px;
    height: 50px;
}

.navigationBar span.username {
    font-size: 25px;
    position: relative;
    left: 27px;
    top: 4px;
}

.Hajduk{
    position: fixed;
    left: 2440px;
    top: 14px;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

header img {
    position: inherit;
    left: 10px;
}

.infoBox {
    height: 10%;
    width: 75%;

    margin-top: 0.25em;
    padding: 0.5em;

    display: fleX;
    justify-content: space-around;
    align-items: center;

    border-radius: 1em 1em 0 0;
    border: 2px solid black;
    border-bottom: 0px;

    background-color: #ab1420;
    color: #fafafa;
}

.teamName {
    font-size: 24px;
    font-weight: 1000;
    letter-spacing: -1px;
    font-style: italic;
    text-transform: uppercase;
}

.infoLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoValue {
    font-size: 16px;
    font-weight: 1000;
    letter-spacing: -1px;
    color: black;
    font-style: bold;
}

.infoType {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    color: black;
    font-style: italic;
}

.fieldBox {
    height: 70%;
    width: 75%;

    background-color: brown;
    background-image: url("../../public/images/field.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 1em;
    padding-top: 1em;

    border: 2px black solid;
}

.subsBox {
    height: 20%;
    width: 100%;
}

.playersBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.attackersBox {
    margin-bottom: 2em;
}

.midfieldersBox {
    margin-bottom: 2em;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 1em;
    padding-right: 1em;
}

.playerJersey {
    border-radius: 100%;
    border: 3px black solid;
    width: 70px;
    height: auto;
    cursor: pointer;
}

.playerName {
    font-size: 14px;
    font-weight: 1000;
    font-style: italic;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
}

.defaultJersey {
    background: grey;
}

.hajdukJersey {
    background: conic-gradient(#034ea2 0deg 180deg, #d2232a 180deg 360deg);
}

.dinamoJersey {
    background: #034ea2;
}

.osijekJersey {
    background: conic-gradient(#0d5597 0deg 180deg, #ffffff 180deg 360deg);
}

.rijekaJersey {
    background: conic-gradient(#f4f4f4 0deg 180deg, #00b9fc 180deg 360deg);
}

.varazdinJersey {
    background: conic-gradient(#1568a7 0deg 180deg, #ffffff 180deg 360deg);
}

.lokomotivaJersey {
    background: conic-gradient(#e0e0e0 0deg 180deg, #0d4081 180deg 360deg);
}

.istraJersey {
    background: conic-gradient(#f3c202 0deg 180deg, #039949 180deg 360deg);
}

.slavenJersey {
    background: #1d3b72;
}

.sibenikJersey {
    background: conic-gradient(#000000c4 0deg 180deg, #ff7300 180deg 360deg);
}

.goricaJersey {
    background: conic-gradient(#000000c4 0deg 180deg, #cc0000 180deg 360deg);
}

.subsBox {
    height: 10%;
    width: 75%;

    margin-bottom: 0.25em;
    padding: 0.5em;

    display: fleX;
    justify-content: space-around;
    align-items: center;

    border-radius: 0 0 1em 1em;
    border: 2px solid black;
    border-top: 0px;

    background-color: #ab1420;
    color: #fafafa;
}

.subPlayer .playerName {
    cursor: pointer;
    color: #fafafa;
}

.subTag {
    font-weight: 1000;
    font-size: 16px;
}

.goalkeeperTag {
    color: orange;
}

.defenderTag {
    color: rgb(255, 50, 50);
}

.midfielderTag {
    color: rgb(0, 155, 0);
}

.attackerTag {
    color: rgb(112, 195, 246);
}