* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fefefe;
}

.flexBuffer {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexBuffer1 {
    width: 65%;
}

.flexBuffer2 {
    width: 35%;
}

.infoBox {
    height: 10%;
    width: 75%;

    margin-top: 0.25em;
    padding: 0.5em;

    display: fleX;
    justify-content: space-around;
    align-items: center;

    border-radius: 1em 1em 0 0;
    border: 2px solid black;
    border-bottom: 0px;
    
    background-color: #ab1420;
    color: #fafafa;
}

.teamName {
    font-size: 24px;
    font-weight: 1000;
    letter-spacing: -1px;
    font-style: italic;
    text-transform: uppercase;
}

.infoLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoValue {
    font-size: 16px;
    font-weight: 1000;
    letter-spacing: -1px;
    color: black;
    font-style: bold;
}

.infoType {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    color: black;
    font-style: italic;
}

.fieldBox {
    height: 70%;
    width: 75%;

    background-color: brown;
    background-image: url("C:\Users\Duje\hnl-fantasy\client\public\images\field.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 1em;
    padding-top: 1em;

    border: 2px black solid;
}

.subsBox {
    height: 20%;
    width: 100%;
}

.playersBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.attackersBox {
    margin-bottom: 2em;
}

.midfieldersBox {
    margin-bottom: 2em;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 1em;
    padding-right: 1em;
}

.playerJersey {
    border-radius: 100%;
    border: 3px black solid;
    width: 70px;
    height: auto;
    cursor: pointer;
}

.playerName {
    font-size: 14px;
    font-weight: 1000;
    font-style: italic;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
}

.defaultJersey {
    background: grey;
}

.hajdukJersey {
    background: conic-gradient(#034ea2 0deg 180deg, #d2232a 180deg 360deg);
}

.subsBox {
    height: 10%;
    width: 75%;

    margin-bottom: 0.25em;
    padding: 0.5em;

    display: fleX;
    justify-content: space-around;
    align-items: center;

    border-radius: 0 0 1em 1em;
    border: 2px solid black;
    border-top: 0px;
    
    background-color: #ab1420;
    color: #fafafa;
}

.subPlayer .playerName {
    cursor: pointer;
    color: #fafafa;
}

.subTag {
    font-weight: 1000;
    font-size: 16px;
}

.goalkeeperTag {
    color: orange;
}

.defenderTag {
    color: rgb(255, 50, 50);
}

.midfielderTag {
    color: rgb(0, 155, 0);
}

.attackerTag {
    color: rgb(112, 195, 246);
}

.searchBar {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2em;

    margin-right: 5em;
    margin-left: -5em;
}

.searchBuffer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBuffer1 {
    border-radius: 1em 1em 0 0;
    border: 2px solid black;
    border-bottom: 0px;

    background-color: #ab1420;

    padding: 1em;

    margin-top: 0.25em;

    height: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.searchBuffer2 {
    border: 2px solid black;
    border-bottom: 0px;

    background-color: #fafafa;

    padding: 1em;

    height: 60%;
}

.searchText {
    font-size: 30px;
    font-weight: 1000;
    letter-spacing: -1px;
    font-style: italic;
    text-transform: uppercase;
    color: #fafafa;
    margin: 0.25em;
}

input {
    position: relative;
    width: 75%;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 0.5em;
    border: 2px solid black;
    outline: black;
    color: black;
    font-size: 20px;
    font-weight: 1000;
    letter-spacing: -1px;
    z-index: 10;
    text-align: center;
    align-items: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #ab1420;
    color: white;
    text-align: left;
    font-weight: 1000;

    position: sticky;
    top: 0;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody {
    overflow-y: auto;
    height: 75%;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: whitesmoke;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #ab1420;
}

tr:nth-child(n + 6) {
    border-bottom: 2px solid #ab1420;
}

tr:nth-child(n + 7) {
    display: none;
}

.searchBuffer3 {
    background-color: #ab1420;
    border: 2px solid black;
    border-radius: 0 0 1em 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 15%;

    margin-bottom: 0.25em;
}

input[type="submit"] {
    border: none;
    outline: none;
    background: #fafafa;
    color: black;
    padding: 11px 25px;
    width: 75%;
    margin: 0.5em;
    border-radius: 1em;
    border: 2px solid black;
    font-weight: 1000;
    font-size: 26px;
    letter-spacing: -1px;
    font-style: italic;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.8;
}